* { 
    border: 0;
    padding: 0;
    margin: 0;
}

/*角注*/
#footer {
    /* width: 1100px;
    height: 50px; */
    /* background-color: #fff; */
    margin: auto;
    text-align: center;
    line-height: 50px;
}

footer small{
    background-color: white;
    border: 1px solid black;
}

/*整体背景*/
body{
    background:white; 
    background-image: url('../image/back.jpg');
    background-repeat: repeat;
    background-position-x : center;
}

input,button { outline: none; }

.clearfix::after{
    content: "";
    display: block;
    clear:both;
    visibility: none;
    height: 0px;
}

/*上栏*/
#header {
    position: fixed; 
    width: 100% ;
    height: 100px;
    background-color: #E0FFFF; 
    z-index: 100;
}

#headerPositionTaker { 
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 99; 
}

#logo {
    margin-left: 50px;
    width: 200px;
    height: 100px;
    background-image: url("../image/Logo.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    background-size: 200px 80px;
}

/*左边工具栏*/
#leftToolBar { 
    width: 300px; 
    height: 570px ; 
    margin-top: 30px; 
    background-color :#AEEEEE; 
    float: left; 
    position: fixed;
    z-index: 100; 
    left: 0px; 
    transition-property: background-color,left ;
    transition-duration: 0.5s,0.5s;
}

#leftToolBar.closeToolBar { 
    left : -240px; 
    background-color: #48D1CC; 
}

#leftToolBar #close {
    width: 50px;
    height: 100%; 
    float:right; 
    border: 0px solid transparent; 
    background-color:#48D1CC; 
    transition-property: background-color; 
    transition-duration: 0.5s; 
    background-image: url("../image/leftArrow.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

#leftToolBar #close.closeClose { 
    background-color: #AEEEEE; 
    background-image: url("../image/rightArrow.png"); 
}

.toolBarDivision {
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 1em;
}

.ctrlButton {
    font-size: 13px; 
    background-color: #AEEEEE ; 
    width:48px; height: 48px; 
    margin-left: 1em; 
    transition: background-color 0.5s ; 
    transition: border 0.5s; 
    border: 2px solid white;
}

#lineWidth {
    min-width: 8pm;
    margin-left:1em;
}

/*右边画布*/
canvas { 
    position: absolute; 
    border: 1px solid black;
}

#mainCanvas {
    background-color: white; 
}

#drawing-area { 
    width : 602px ; 
    height : 402px ;
    clear : both; 
    margin-left: 350px ;
    margin: 0; 
    margin-top: 30px; 
    margin-left:calc(300px + 30px); 
    margin-right:30px;
}

/*加图片*/
#bucket {background-image:url("../image/bucket.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#text {background-image:url("../image/text.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#pencil {background-image:url("../image/pencil.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#straw {background-image:url("../image/straw.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#eraser {background-image:url("../image/eraser.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}

#Line {background-image:url("../image/line.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#Rect {background-image:url("../image/rect.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#Ellipse {background-image:url("../image/ellipse.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#Triangle {background-image:url("../image/triangle.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}

#Rrotate {background-image:url("../image/rrotate.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#Lrotate {background-image:url("../image/lrotate.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}

#clear {background-image:url("../image/clear.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#changesize {background-image:url("../image/resize.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#previous {background-image:url("../image/previous.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#next {background-image:url("../image/next.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;}
#previous.banned { background-image:url("../image/bannedPrevious.png"); }
#next.banned { background-image:url("../image/bannedNext.png"); }

#save {background-image:url("../image/save.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;background-size: 30px; border-width: 0px; 
background-color:  transparent; float: right; margin-left:0px;margin-right:  100px; margin-top: 26px;}
#openD {background-image:url("../image/upload.png");background-repeat:  no-repeat ;background-position-x: center;background-position-y: center;background-size: 30px; border-width: 0px;
background-color:  transparent; float: right; margin-left:0px;margin-right: 20px; margin-top:26px;}
#open { top:0px; left: 0px; width: 48px ; height: 48px; opacity: 0;}


